.directive-not-started:after {
  content: 'NOT STARTED';
  color: black;
  font-weight: bold;
}

.directive-tried:after {
  content: 'TRIED';
  color: orangered;
  font-weight: bold;
}

.directive-getting-there:after {
  content: 'GETTING THERE';
  color: orangered;
  font-weight: bold;
}

.directive-passed:after {
  content: 'PASSED';
  color: #29AB87;
  font-weight: bold;
}

.directive-skipped:after {
  content: 'SKIPPED';
  color: brown;
  font-weight: bold;
}
