a {
  text-decoration: none;
}

.first .button-signup {
  background-color: #29AB87;
  color: white;
}

.first .link-login {
  color: brown;
  font-weight: bold;
  text-align: center;
}

.first .link-try {
  color: brown;
  font-weight: bold;
  text-align: center;
}
