/* The header is too tall in iOS because of an Ionic bug. This fixes that.
https://forum.ionicframework.com/t/ios-header-size-is-too-large/16127/16
*/


/*Disabling platform specific tweaks */
.platform-ios.platform-cordova:not(.fullscreen) .bar-header
{
  height: 44px !important;
}
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader)
{
  height: 44px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader).item-input-inset .item-input-wrapper
{
  margin-top: 0px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) > *
{
  margin-top: 0px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .tabs-top > .tabs, .platform-ios.platform-cordova:not(.fullscreen) .tabs.tabs-top
{
  top: 44px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .has-header, .platform-ios.platform-cordova:not(.fullscreen) .bar-subheader
{
  top: 44px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .has-subheader {
  top: 88px !important;
}
