.play-ideas {
  .item {
    color: black;
    font-size: 25px;
    line-height: 100px;
    text-shadow: 2px 2px 2px brown;
  }
  .item-content {
    background-color: transparent;
  }
  .item1 {
    background-image: url(/image1.png);
    background-repeat: no-repeat;
  }
  .item2 {
    background-image: url(/image2.png);
    background-repeat: no-repeat;
  }
  .item3 {
    background-image: url(/image3.png);
    background-repeat: no-repeat;
  }
  .item4 {
    background-image: url(/image1.png);
    background-repeat: no-repeat;
  }
  .item5 {
    background-image: url(/image2.png);
    background-repeat: no-repeat;
  }
}
