.playbud-account .button-primary-dark {
  background-color: #29AB87;
  color: white;
}

.playbud-account .button-primary-light {
  background-color: white;
  color: #29AB87;
  border-color: #29AB87;
}
