.play-ideas {
  .item-complex {
    background-repeat: no-repeat;
  }
  .item-content {
    background-color: transparent;
    color: black;
    font-size: 25px;
    line-height: 100px;
    text-shadow: 2px 2px 2px brown;    
  }
}
