.skill .link-skip {
  color: brown;
  font-weight: bold;
  text-align: center;
}

.skill .button-evaluate {
  background-color: #29AB87;
  color: white;
}

.skill .button-cancel-skip {
  background-color: white;
  color: brown;
  border-color: brown;
}

.skill .button-skip {
  background-color: brown;
  color: white;
}

.skill .button-skip-finish {
  background-color: brown;
  color: white;
}

.skill .button-cancel-evaluate {
  background-color: white;
  color: #29AB87;
  border-color: #29AB87;
}

.skill .button-submit-answer {
  background-color: #29AB87;
  color: white;
}

.skill .button-evaluate-finish {
  background-color: #29AB87;
  color: white;
}
