* {
  word-break: break-all !important;
  white-space: normal !important;
}

.button-primary-dark {
  background-color: #29AB87;
  color: white;
}

.button-primary-light {
  background-color: white;
  color: #29AB87;
  border-color: #29AB87;
}

.button-secondary-dark {
  background-color: brown;
  color: white;
}

.button-secondary-light {
  background-color: white;
  color: brown;
  border-color: brown;
}

.link-primary {
  color: #29AB87 !important;
  font-weight: bold;
}

.link-secondary {
  color: brown !important;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.tabs {
  .icon {
    color: #29AB87;
  },
  .tab-title {
    color: #29AB87;
  }
}

.play .divider-skills {
  color: #29AB87;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  font-weight: bold;
}

.play .banner-ephemeral-account {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  text-align: center;
}

.play .msg-finished-skills {
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

.msg-skill-delayed {
  color: orangered;
  font-weight: bold;
}

.msg-validation {
  color: orangered;
  font-weight: bold;
}

.checkbox input:checked + .checkbox-icon:before {
  background: #29AB87;
  border-color: #29AB87;
}

.link-reset-password {
  text-align: center;
}

.link-help {
  text-align: center;
}

.link-skip {
  text-align: center;
}
