<ion-view view-title="Evaluate">
  <ion-content class="evaluate">
    <div ng-if="!$root.currentUser">
      Sign in to evaluate
    </div>
    <div ng-if="$root.currentUser">

      <div ng-show="evaluate.showStart">
        <button class="button button-block button-positive" ng-click="evaluate.start()">Start</button>
      </div>

      <div ng-show="evaluate.showQuestion">
        <div class="card">
          <div class="item item-text-wrap">
            {{evaluate.evaluationSkills[evaluate.currentQuestionIndex].question}}
          </div>
        </div>

        <div class="card">
          <ion-list>
            <ion-radio
              ng-repeat="answerOption in evaluate.answerOptions"
              ng-value="answerOption.value"
              ng-model="evaluate.selectedAnswerOptionValue"
              ng-change="evaluate.nextButtonDisabled = false"
              >
              {{answerOption.text}}
            </ion-radio>
          </ion-list>
        </div>

        <!-- TODO: Change the text of the button to say last/finish/go to results if last question -->
        <button
          class="button button-block button-positive"
          ng-disabled="evaluate.nextButtonDisabled"
          ng-click="evaluate.submitAnswer()">
          Next
        </button>
      </div>

      <div ng-show="evaluate.showResults">
        <div class="list card">
          <div
            ng-repeat="skill in evaluate.updatedSkills"
            class="item">
            {{skill.shortDescription}}
          </div>
        </div>
        <button class="button button-block button-positive" ng-click="evaluate.done()">Done</button>
      </div>

    </div>
  </ion-content>
</ion-view>
