<ion-view view-title="Evaluate">
  <ion-content class="evaluate">
    <div ng-if="!$root.currentUser">
      Sign in to evaluate
    </div>
    <div ng-if="$root.currentUser">

      <div ng-show="evaluate.showStart">
        <button class="button button-block button-positive" ng-click="evaluate.start()">Start</button>
      </div>

      <div ng-show="evaluate.showQuestion">
        <div class="card">
          <div class="item item-text-wrap">
            {{evaluate.evaluationSkills[evaluate.currentQuestionIndex].question}}
          </div>
        </div>

        <div class="card">
          <ion-list>
            <ion-radio ng-model="choice" ng-value="'A'">Easily</ion-radio>
            <ion-radio ng-model="choice" ng-value="'B'">With difficulty</ion-radio>
            <ion-radio ng-model="choice" ng-value="'C'">Unable</ion-radio>
            <ion-radio ng-model="choice" ng-value="'D'">Did not try</ion-radio>
          </ion-list>
        </div>

        <!-- TODO: Change the text of the button to say last/finish/go to results if last question -->
        <button
          class="button button-block button-positive"
          ng-click="evaluate.nextQuestion()">
          Next
        </button>
      </div>

      <div ng-show="evaluate.showResults">
        <div ng-show="evaluate.updatedSkills.length===0">
          TODO: Find and style a nice loading mask here.
        </div>
        <div ng-show="evaluate.updatedSkills.length!==0">
          <div class="list card">
            <div
              ng-repeat="skill in evaluate.updatedSkills"
              class="item">
              {{skill.shortDescription}}
            </div>
          </div>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
