<ion-view view-title="Playbud">
  <ion-content class="first">
    <!-- <img class="full-image" src="https://dl.dropboxusercontent.com/u/6677157/splash.jpg"> -->

    <div class="card">
      <div class="item item-body">
        <a href="#/tab/playbud-account"><button class="button button-block button-sign-up">Sign Up</button></a>
        <p class='link-log-in'>Log In</p>
        <a href="#/tab/play"><p class="link-try">Try without signing up</p></a>
      </div>
    </div>
  </ion-content>
</ion-view>
