<ion-view view-title="Playbud">
  <ion-content class="first">
    <img class="full-image" src="https://dl.dropboxusercontent.com/u/6677157/skill.jpg">
    <div class="card">
      <div class="item item-body">
        <a href="#/tab/playbud-account/signUp"><button class="button button-block button-primary-dark">Sign Up</button></a>
        <a href="#/tab/playbud-account/logIn"><button class="button button-block button-primary-light">Log In</button></a>
        <button ng-click="first.createEphemeralAccount()" class="button button-block button-primary-light">Try without sign up</button>
      </div>
    </div>
  </ion-content>
</ion-view>
