<ion-view view-title="Help">
  <ion-content class="help">
    <div class="card">
      <div class="item item-body">
        <p>
          Contact us if you need any help with your account, such as resetting your password.
        </p>
        <div class="row">
          <div class="col"><a href="#/tab/playbud-account/signUpLogIn"><button class="button button-block button-primary-light">Go Back</button></a></div>
          <div class="col"><button onclick="window.open('http://www.typeform.com', '_system');" class="button button-block button-primary-dark">Contact Us</button></div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
