<ion-view view-title="How It Works">
  <ion-content class="how-it-works">
    <div class="card">
      <div class="item item-body">
        <p>
          The Play screen shows you a list of skills that are age-appropriate for your child, that have been developed based on scientific child development milestones.
          Encourage your child to try these skills and focus on them while you and your child play with the toy.
        </p>
        <p>
          Remember to evaluate your child for those skills after each play time.
          Playbud tracks your child's progress.
          And when Playbud thinks that your child has mastered a skill using our scientifically developed process, the skill is passed, and moved to the bottom of the Play screen.
          You can also manually mark a skill as skipped, if you are confident that the skill does not apply to your child anymore or whatever reason.
        </p>
        <div class="row">
          <div class="col"><a href="#/tab/play"><button class="button button-block button-primary-light">Go Back</button></a></div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
