
<form name="loginForm" novalidate>
  <ion-view view-title="Login">
    <ion-content class="loginForm padding">
      <div class="list list-inset">

        <div class="item-group">
          <label class="item item-input" ng-class="{ 'has-error': loginForm.$submitted && loginForm.email.$invalid }">
            <input type="email" name="email" ng-model="login.email" placeholder="Email" required>
          </label>
          <div class="error" ng-messages="loginForm.email.$error"
               ng-show="loginForm.$submitted">
            <p ng-if="loginForm.email.$error.required">Email is required.</p>
            <p ng-if="loginForm.email.$error.email">Email is invalid.</p>
          </div>
        </div>

        <div class="item-group">
          <label class="item item-input" ng-class="{ 'has-error': loginForm.$submitted && loginForm.password.$invalid }">
            <input type="password" name="password" ng-model="login.password" placeholder="Password" required>
          </label>
          <div class="error" ng-messages="loginForm.password.$error"
               ng-show="loginForm.$submitted">
            <p ng-if="loginForm.password.$error.required">Password is required.</p>
          </div>
        </div>
        <label class="error">{{loginFailedMsg}}</label>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-positive" ng-click="loginForm.$valid && login.Login()" >
          Login
        </button>
      </div>
    </ion-content>

  </ion-view>
</form>
