<ion-view view-title="Play">
  <ion-content class="play">
    <div class="list card">
      <a
        ng-repeat="skill in play.nextSkills"
        href="#/tab/skills/{{skill._id.valueOf()}}"
        class="item"
        >
        {{skill.shortDescription}} | {{skill.months}} months | {{skill.state}}
      </a>
    </div>

    <div class="list card">
      <a
        ng-repeat="skill in play.previousSkills"
        href="#/tab/skills/{{skill._id.valueOf()}}"
        class="item"
        >
        {{skill.shortDescription}} | {{skill.months}} months | {{skill.state}}
      </a>
    </div>
    <ion-infinite-scroll
      ng-if="play.moreSkillsAvailable"
      on-infinite="play.getMoreSkills()"
      distance="5%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
