<ion-view view-title="Account">
  <ion-content>
    <login-buttons></login-buttons>

    <div ng-if="!$root.currentUser">
      Sign in to update account
    </div>
    <div ng-if="$root.currentUser">
      <input ng-model="$root.currentUser.parent.childFirstName" on-return="$root.currentUser.updateChildFirstName()" type="text" placeholder="Child's first name">
      <input ng-model="$root.currentUser.parent.childDateOfBirth" on-return="$root.currentUser.updateChildDateOfBirth()" type="date">
    </div>

  </ion-content>
</ion-view>
