
<form name="signUpForm" novalidate>
  <ion-view view-title="Sign Up">
    <ion-content class="signUpForm padding">
      <div class="list list-inset">

        <div class="item-group">
          <label class="item item-input" ng-class="{ 'has-error': signUpForm.$submitted && signUpForm.email.$invalid }">
            <input type="email" name="email" ng-model="signup.email" placeholder="Email" required email-available>
          </label>
          <div class="error" ng-messages="signUpForm.email.$error"
               ng-show="signUpForm.$submitted">
            <p ng-if="signUpForm.email.$error.required">Email is required.</p>
            <p ng-if="signUpForm.email.$error.email">Email is invalid.</p>
            <p ng-show="signUpForm.email.$error.emailAvailable">Email exists.</p>
          </div>
        </div>

        <div class="item-group">
          <label class="item item-input" ng-class="{ 'has-error': signUpForm.$submitted && signUpForm.password.$invalid }">
            <input type="password" name="password" ng-model="signup.password" placeholder="Password" required>
          </label>
          <div class="error" ng-messages="signUpForm.password.$error"
               ng-show="signUpForm.$submitted">
            <p ng-if="signUpForm.password.$error.required">Password is required.</p>
          </div>
        </div>

        <div class="item-group">
          <label class="item item-input"  ng-class="{ 'has-error': signUpForm.$submitted && signUpForm.confirmPwd.$invalid }">
            <input type="password" name="confirmPwd" ng-model="signup.confirmPwd" ng-pattern="signup.password" placeholder="Re-enter Password" required>
          </label>
          <div class="error" ng-messages="signUpForm.confirmPwd.$error"
               ng-show="signUpForm.$submitted" >
               <p ng-if="signUpForm.confirmPwd.$error.required">Password is required.</p>
               <p ng-if="signUpForm.confirmPwd.$error.pattern">Passwords do not match.</p>
          </div>
        </div>
      </div>

      <div class="padding">
        <button type="submit" class="button button-block button-positive" ng-click="signUpForm.$valid && signup.SignUp()" >
          Sign Up
        </button>
      </div>
    </ion-content>

  </ion-view>
</form>
