
<form name="signUpForm" novalidate>
  <ion-view view-title="Sign Up">
    <ion-content class="signup padding">
      <div class="list">

        <div class="form-group" ng-class="{ 'has-error': signUpForm.$submitted && signUpForm.firstname.$invalid }">
          <label class="item item-input">
            <span class="input-label">First Name</span>
            <input type="text" name="firstname" ng-model="user.firstname" required>
          </label>
          <div class="help-block" ng-messages="signUpForm.firstname.$error"
            ng-show="signUpForm.$submitted">
            <p ng-if="signUpForm.firstname.$error.required">First Name is required.</p>
          </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': signUpForm.$submitted && signUpForm.lastname.$invalid }">
          <label class="item item-input">
            <span class="input-label">Last Name</span>
            <input type="text" name="lastname" ng-model="user.lastname" required>
          </label>
          <div class="help-block" ng-messages="signUpForm.lastname.$error"
               ng-show="signUpForm.$submitted">
            <p ng-if="signUpForm.lastname.$error.required">Last Name is required.</p>
          </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': signUpForm.$submitted && signUpForm.email.$invalid }">
          <label class="item item-input">
            <span class="input-label">Email</span>
              <input type="email" name="email" ng-model="user.email"
              required>
          </label>
          <div class="help-block" ng-messages="signUpForm.email.$error"
               ng-show="signUpForm.$submitted">
            <p ng-if="signUpForm.email.$error.required">Email is required.</p>
            <p ng-if="signUpForm.email.$error.email">Email is invalid.</p>
          </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': signUpForm.$submitted && signUpForm.password.$invalid }">
          <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" name="password" ng-model="user.password" required>
          </label>
          <div class="help-block" ng-messages="signUpForm.password.$error"
               ng-show="signUpForm.$submitted">
            <p ng-if="signUpForm.password.$error.required">Password is required.</p>
          </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': signUpForm.$submitted && signUpForm.repassword.$invalid }">
          <label class="item item-input">
          <span class="input-label">Re-enter Password</span>
          <input type="password" name="repassword" ng-model="user.repassword" required>
          </label>
          <div class="help-block" ng-messages="signUpForm.repassword.$error"
               ng-show="signUpForm.$submitted">
            <p ng-if="signUpForm.repassword.$error.required">Password is required.</p>
          </div>
        </div>

      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-positive" ng-click="signUpForm.$valid && SignUp()" >
          Sign Up
        </button>
      </div>
    </ion-content>

  </ion-view>
</form>
