<ion-view title="Skill">
  <ion-content>
    <div class="card">
      <div class="item item-body">
        <img class="full-image" src="http://localhost:3000/image1.png">
        <h2>{{skill.skill.shortDescription}}</h2>
        <p>{{skill.skill.longDescription}}</p>
        <p><skill-state state="skill.skill.state"></skill-state></p>
      </div>
    </div>

    {{skill.skill.state}} <br/>
    <!-- <div
      ng-repeat="answer in skill.skill.answers">
      {{answer.value}}
    </div> -->

<div
  ng-if="(skill.skill.state !== 'passed') && (skill.skill.state !== 'skipped')">
    <ion-radio
      ng-repeat="answerOption in skill.answerOptions"
      ng-value="answerOption.value"
      ng-model="skill.selectedAnswerOptionValue"
      >
      {{answerOption.text}}
    </ion-radio>

    <button
      class="button button-block button-positive"
      ng-click="skill.submitAnswer()">
      Submit
    </button>

    <button
      class="button button-block button-positive"
      ng-click="skill.skipSkill()">
      Skip
    </button>
</div>


  </ion-content>

</ion-view>
