<ion-view title="Skill">
  <ion-content>
    Skill
    <br/>
    {{skill.skill.shortDescription}} <br/>
    {{skill.skill.longDescription}} <br/>
    {{skill.skill.state}} <br/>
    <!-- <div
      ng-repeat="answer in skill.skill.answers">
      {{answer.value}}
    </div> -->

<div
  ng-if="skill.skill.state !== 'passed'">
    <ion-radio
      ng-repeat="answerOption in skill.answerOptions"
      ng-value="answerOption.value"
      ng-model="skill.selectedAnswerOptionValue"
      >
      {{answerOption.text}}
    </ion-radio>

    <button
      class="button button-block button-positive"
      ng-click="skill.submitAnswer()">
      Next
    </button>
</div>

  </ion-content>

</ion-view>
