<ion-view view-title="Toy">
  <ion-content class="toy">
    <div class="card">
      <div class="item item-body">
        <p>
          Playbud is designed specifically for your child to play with the
          <a class="link-primary" href="#" onclick="window.open('http://www.toysrus.com/buy/babies-r-us-stacking-giraffe-bucket-5f5f3fe-47133856', '_system');">Toys R Us Bruin Stack 'n Sort Giraffe toy</a>.
          Each toy-based skill has been carefully developed based on scientific child-development milestones.
          This allows your child to track against these milestones, but in a novel, play-based manner,
          which medical research tells us is the best way for a child to learn, grow, and develop at a young age.
        </p>
        <p>
          We chose this toy specifically because it is flexible enough for a wide range of play skills in the areas of motor, cognitive, and social/emotional development,
          with these play skills spanning over 24 months where they are appropriate for your child.
        </p>
        <p>
          We want you to have this toy in order for you and your child to truly experience Playbud.
          We will send you this toy, totally free of charge, with no shipping costs.
          Just tap the button to provide us your mailing address, and we will send you the toy, brand new, directly from Toys R Us.
          No strings attached.
          We only ask that you continue using Playbud once you receive the toy (typically delivered within 2 weeks).
        </p>
        <p>
          Since we are are absorbing all costs of buying and sending you this toy, we can only send to addresses within the Continental United States.
          We reserve the right the right to revoke this free offer at anytime.
          Playbud is in no way associated with Toys R Us.
        </p>
        <div class="row">
          <div class="col"><a href="#/tab/playbud-account/signUpLogIn"><button class="button button-block button-primary-light">Go Back</button></a></div>
          <div class="col"><button onclick="window.open('https://playbud.typeform.com/to/bqXm9w', '_system');" class="button button-block button-primary-dark">Get Free Toy <i class="icon ion-cube"></i></button></div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
