
<form name="profileForm" novalidate>
  <ion-view view-title="Profile">
    <ion-content class="userProfileForm padding">
      <div class="list list-inset">

        <div class="item-group">
          <span class="input-label">Child's last name</span>
          <label class="item item-input" ng-class="{ 'has-error': profileForm.$submitted && profileForm.childLastName.$invalid }">
            <input type="text" name="childLastName" ng-model="profile.childLastName" required>
          </label>
          <div class="error" ng-messages="profileForm.childLastName.$error"
               ng-show="profileForm.$submitted">
            <p ng-if="profileForm.childLastName.$error.required">Child's last name is required.</p>
          </div>
        </div>

        <div class="item-group">
          <span class="input-label">Child's first name</span>
          <label class="item item-input" ng-class="{ 'has-error': profileForm.$submitted && profileForm.childFirstName.$invalid }">
            <input type="text" name="childFirstName" ng-model="profile.childFirstName" required>
          </label>
          <div class="error" ng-messages="profileForm.childFirstName.$error"
               ng-show="profileForm.$submitted">
            <p ng-if="profileForm.childFirstName.$error.required">Child's first name is required.</p>
          </div>
        </div>

        <div class="item-group">
          <span class="input-label">Child's Age (in month)</span>
          <label class="item item-input" ng-class="{ 'has-error': profileForm.$submitted && profileForm.childAge.$invalid }">
            <input type="number" name="childAge" ng-model="profile.childAge" required>
          </label>
          <div class="error" ng-messages="profileForm.childAge.$error"
               ng-show="profileForm.$submitted">
            <p ng-if="profileForm.childAge.$error.required">Child's Age is required.</p>
          </div>
        </div>

        <div class="item-group item-gender">
          <span class="input-label">Child's Gender</span>
            <ion-radio name="childGender" ng-model="profile.childGender" ng-value="'boy'" required>Boy</ion-radio>
            <ion-radio name="childGender" ng-model="profile.childGender" ng-value="'girl'" required>Girl</ion-radio>
          <div class="error" ng-messages="profileForm.childGender.$error"
               ng-show="profileForm.$submitted">
            <p ng-if="profileForm.childGender.$error.required">Child's Gender is required.</p>
          </div>
        </div>
      </div>

      <div class="padding">
        <button type="submit" class="button button-block button-positive" ng-click="profileForm.$valid && profile.Update()" >
          Update
        </button>
        {{updatedMsg}}
      </div>
    </ion-content>

  </ion-view>
</form>
